{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title(document.title) }}{% endblock %}

{% block meta %}
{% if document.id %}
<meta property="og:type" content= "website" />
<meta property="og:url" content="{{ url('user_document', {id: document.id}) }}"/>
<meta property="og:site_name" content="MyDoc Intelligence" />
<meta property="og:title" content="{{ document.title }}" />
<meta property="og:description" content="{{ document.description }}" />
{% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="my-2">
        <a href="{{ path('user_view_project', {id: document.project.id}) }}"
           class="text-decoration-none">
            <i class="bi-chevron-left"></i>
            {{ document.project.name }}
        </a>
    </div>

    <div class="row">
        <div class="col-12 col-md-9">
            {{ macro.document_header(document, projectRole) }}

            {# TABS #}
            <ul class="nav nav-tabs" id="documentRenderMode" role="tablist">
                {% if canEdit %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="renderEdit-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#renderEdit"
                            type="button"
                            role="tab"
                            aria-controls="renderEdit"
                            aria-selected="true"><i class="bi-pen me-2"></i>Éditer et annoter</button>
                </li>
                {% endif %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="renderAnnotations-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#renderAnnotations"
                            type="button"
                            role="tab"
                            aria-controls="renderAnnotations"
                            aria-selected="true"><i class="bi-tag me-2"></i>Annotations</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if not canEdit %}active{% endif %}"
                            id="renderPreview-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#renderPreview"
                            type="button"
                            role="tab"
                            aria-controls="renderPreview"
                            aria-selected="true"><i class="bi-eye me-2"></i>Prévisualiser</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                {% if canEdit %}
                {# EDIT #}
                <div class="tab-pane fade show active" id="renderEdit" role="tabpanel" aria-labelledby="renderEdit-tab">
                    {{ form_row(form.content, {label: false, attr: {class: 'border-top-0 shadow-none selectable'}}) }}
                    <div class="text-end">
                        <button id="init_meta_btn"
                                type="button"
                                class="btn btn-primary"
                                data-id="{{ document.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmInitMetaModal"
                                role="button">
                            <i class="bi-gear"></i>
                            Initialiser méta-données
                        </button>

                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi-save me-2"></i>Enregistrer
                            </button>
                            <button type="button"
                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="visually-hidden">Options</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <i class="bi-download me-2"></i>Télécharger
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="dropdown-item text-danger"
                                       data-bs-toggle="modal"
                                       data-bs-target="#confirmDeleteModal">
                                        <i class="bi-trash me-2"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                {% endif %}

                <div class="tab-pane fade show" id="renderAnnotations" role="tabpanel" aria-labelledby="renderAnnotations-tab">
                    <div class="py-3">
                        {% for annotation in document.annotations %}
                        <div class="border border-light rounded p-3 mb-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {{ annotation.content|nl2br }}
                                </div>
                                <div>
                                    <span class="badge rounded-pill bg-info">{{ annotation.tag.name }}</span>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p class="text-muted">Aucune annotation</p>
                        {% endfor %}
                    </div>
                </div>

                {#  PREVIEW #}
                <div class="tab-pane fade show {% if not canEdit %}active{% endif %}"
                     id="renderPreview"
                     role="tabpanel"
                     aria-labelledby="renderPreview-tab">
                    <div id="markdownPreview" class="selectable p-3">
                        {{ document.content(true)|raw }}
                    </div>

                    {# LINKS #}
                    {% if links is defined %}
                        <div class="mt-5 mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="fw-bold">Liens internes</h5>
                                    <ul class="list-unstyled">
                                        {% for link in links['internal'] %}
                                            <li class="text-truncate">
                                                <a href="{{ link }}" target="_blank" class="og-preview">{{ link }}</a>
                                            </li>
                                        {% else %}
                                            <li class="text-muted">Aucun lien</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h5 class="fw-bold">Liens externes</h5>
                                    <ul class="list-unstyled">
                                        {% for link in links['external'] %}
                                            <li class="text-truncate">
                                                <a href="{{ link }}" target="_blank" class="og-preview">{{ link }}</a>
                                            </li>
                                        {% else %}
                                            <li class="text-muted">Aucun lien</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# PROPERTIES #}
        {% include 'user/document/_partials/properties.html.twig' with {
            document: document,
            lexicon: lexicon,
            tagTree: tagTree,
            canEdit: canEdit} only %}
    </div>

    {% if canEdit %}
        {% include 'user/document/_modals/init-meta.html.twig' with {} only %}
        {% include 'user/document/_modals/selection-tools.html.twig' with {document: document, documents: documents, search: search} only %}
        {% include 'user/document/_modals/delete-document.html.twig' with {project: document.project, document: document} only %}
        {% include 'user/project/_modals/new-tag.html.twig' with {project: document.project} only %}
        {% include 'user/project/_modals/rename-tag.html.twig' with {project: document.project} only %}
        {% include 'user/project/_modals/delete-tag.html.twig' with {project: document.project} only %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
{% endblock %}