{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title("Profil") }}{% endblock %}

{% block body %}
<h1 class="mb-3">Profil</h1>

{{ form_start(form) }}
    <div class="row">
        <div class="col-8">
            {{ form_row(form.email) }}

            <div class="row">
                <div class="col">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col">
                    {{ form_row(form.lastName) }}
                </div>
            </div>

            {{ form_row(form.organization) }}
            {{ form_row(form.title) }}

            <div class="row">
                <div class="col">
                    {{ form_row(form.changePassword.plainPassword.first) }}
                </div>
                <div class="col">
                    {{ form_row(form.changePassword.plainPassword.second) }}
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary"><i class="bi-save me-2"></i>Enregistrer</button>
    </div>
{{ form_end(form) }}
{% endblock %}
