{% import 'macros.html.twig' as macros %}
<div class="table-responsive" id="asyncDocuments">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 1%"></th>
            <th>
                {{ knp_pagination_sortable(documents, 'Titre', 'd.title') }}
                {% if documents.isSorted('d.title') %}
                    <i class="{{ documents.direction == 'asc' ? 'bi-sort-down-alt' : 'bi-sort-down' }}"></i>
                {% endif %}
            </th>
            <th>
                {{ knp_pagination_sortable(documents, 'Créateur', 'd.creator') }}
                {% if documents.isSorted('d.creator') %}
                    <i class="{{ documents.direction == 'asc' ? 'bi-sort-down-alt' : 'bi-sort-down' }}"></i>
                {% endif %}
            </th>
            <th>
                {{ knp_pagination_sortable(documents, 'Date', 'd.date') }}
                {% if documents.isSorted('d.date') %}
                    <i class="{{ documents.direction == 'asc' ? 'bi-sort-down-alt' : 'bi-sort-down' }}"></i>
                {% endif %}
            </th>
            <th>
                {{ knp_pagination_sortable(documents, 'Publicateur', 'd.publisher') }}
                {% if documents.isSorted('d.publisher') %}
                    <i class="{{ documents.direction == 'asc' ? 'bi-sort-down-alt' : 'bi-sort-down' }}"></i>
                {% endif %}
            </th>
            <th>
                {{ knp_pagination_sortable(documents, 'Type', 'd.type') }}
                {% if documents.isSorted('d.type') %}
                    <i class="{{ documents.direction == 'asc' ? 'bi-sort-down-alt' : 'bi-sort-down' }}"></i>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            {{ macros.asyncDocumentRow(source, document) }}
        {% else %}
            <tr>
                <td colspan="6" class="text-center text-muted py-4">
                    Aucun document dans ce projet
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>