<div class="col-12 col-md-3 mt-3 mt-md-0">
    <div class="sticky-top pt-3" style="z-index: 900;">
        <div class="accordion accordion-flush" id="propertiesPanel">
            <div class="accordion-item">
                <h5 class="accordion-header" id="propertiesPanel_metas_header">
                    <button class="accordion-button fw-bold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#propertiesPanel_metas_content"
                            aria-expanded="true"
                            aria-controls="propertiesPanel_metas_content">
                        Meta-données
                    </button>
                </h5>
                <div id="propertiesPanel_metas_content"
                     class="accordion-collapse collapse show"
                     aria-labelledby="propertiesPanel_metas_header">
                    <div class="accordion-body px-1">
                        {% for meta, label in document.metadataDict %}
                            {% set value = attribute(document, meta) %}
                            <div class="d-flex small mb-1">
                                <div class="text-muted">{{ label }}</div>
                                <div class="ms-2 me-auto">
                                    {% if meta == 'Description' and value|length > 150 %}
                                        {{ value|slice(0, 140) }}...
                                    {% else %}
                                        {{ value ?: '-' }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {#
            <div class="accordion-item">
                <h5 class="accordion-header" id="propertiesPanel_lexicon_header">
                    <button class="accordion-button collapsed fw-bold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#propertiesPanel_lexicon_content"
                            aria-expanded="true"
                            aria-controls="propertiesPanel_lexicon_content">
                        Lexique
                    </button>
                </h5>
                <div id="propertiesPanel_lexicon_content"
                     class="accordion-collapse collapse"
                     aria-labelledby="propertiesPanel_lexicon_header">
                    <div class="accordion-body px-1">
                        <ul class="list-unstyled">
                            {% for word, count in lexicon[0:10] %}
                                <li class="d-flex justify-content-between">
                                    <div>{{ word }}</div>
                                    <div>
                                        <span class="badge rounded-pill bg-info">{{ count }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            #}

            <div class="accordion-item">
                <h5 class="accordion-header" id="propertiesPanel_tags_header">
                    <button class="accordion-button collapsed fw-bold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#propertiesPanel_tags_content"
                            aria-expanded="true"
                            aria-controls="propertiesPanel_tags_content">
                        Tags
                    </button>
                </h5>
                <div id="propertiesPanel_tags_content"
                     class="accordion-collapse collapse show"
                     aria-labelledby="propertiesPanel_tags_header">
                    <div class="accordion-body px-1">
                        {% include('user/project/_partials/tag-tree.html.twig') with {
                            tagTree: tagTree,
                            project: document.project,
                            canEdit: canEdit} only %}
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h5 class="accordion-header" id="propertiesPanel_annotations_header">
                    <button class="accordion-button collapsed fw-bold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#propertiesPanel_annotations_content"
                            aria-expanded="true"
                            aria-controls="propertiesPanel_annotations_content">
                        Annotations
                    </button>
                </h5>
                <div id="propertiesPanel_annotations_content"
                     class="accordion-collapse collapse show"
                     aria-labelledby="propertiesPanel_annotations_header">
                    <div class="accordion-body px-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
