<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}My Doc Intelligence</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('build/images/safari-pinned-tab.svg') }}" color="#000000">
    <meta name="apple-mobile-web-app-title" content="MyDoc Intelligence">
    <meta name="application-name" content="MyDoc Intelligence">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-lg py-4">
        <a class="navbar-brand" href="{{ path('home') }}">MyDoc Intelligence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
            {% if is_granted('IS_AUTHENTICATED') %}
                <li class="nav-item">
                    <a href="{{ path('user_projects') }}" class="nav-link">Projets</a>
                </li>
            {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="accountDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="bi-gear me-1"></i>
                            Paramètres
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('user_profile') }}">
                                    <i class="bi-person-circle me-1"></i>
                                    Infos profil
                                </a>
                                <a class="dropdown-item" href="{{ path('logout') }}">
                                    <i class="bi-box-arrow-right me-1"></i>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">Créer un compte</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col">
            {% for type, messages in app.flashes %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        <p class="m-2">{{ message }}</p>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
