{% macro title(string) %}{{ string }} | {% endmacro %}

{% macro buttonLink(href, text, button_class, icon_class) %}
    <a href="{{ href }}" class="btn {{ button_class }}" role="button">{% if icon_class %}<i
            class="{{ icon_class }} me-2"></i>{% endif %}{{ text }}</a>
{% endmacro %}

{% macro project_card(project) %}
    <div class="card mb-3 h-100">
        <div class="card-header h5 fw-bold">{{ project.name }}</div>
        <div class="card-body">
            <p class="card-text">{{ project.description|u.truncate(200, '...', false) }}</p>
        </div>
        <div class="card-footer">
            {{ _self.buttonLink(path('user_view_project', {id: project.id}), 'Ouvrir', 'btn-primary rounded-pill', 'bi-folder2-open') }}
        </div>
    </div>
{% endmacro %}

{% macro document_header(document, role) %}
    <div class="mb-4">
        <div class="row">
            <div class="col me-auto">
                <h1 class="m-0">{{ document.title ? document.title : 'document ' ~ document.id }}</h1>
            </div>
            <div class="col-auto text-end">
                <span class="badge bg-info rounded-pill">{{ role }}</span>
                <span id="changesUnsaved" class="badge bg-danger rounded-pill opacity-50 {% if document.id %}visually-hidden{% endif %}">Non sauvegardé</span>
            </div>
        </div>

        <div class="row">
            <div>
                <p class="text-muted">{{ [document.creator, document.date]|filter(v => v != '')|join(', ') }}</p>
                {% if document.description %}
                    <p class="my-4">{{ document.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro asyncDocumentLinkRow(source, target) %}
    {% if source != target %}
    <tr>
        <td>
            <a href="{{ path('user_link_documents', {source: source.id, target: target.id}) }}"
               class="btn btn-primary btn-sm btn-link-document">Lier</a>
        </td>
        <td>
            {{ target.title ?: 'document ' ~ target.id }}
            <a href="{{ path('user_document', {id: target.id}) }}" target="_blank">
                <i class="bi-box-arrow-up-right ms-2"></i>
            </a>
        </td>
        <td>{{ target.creator }}</td>
        <td>{{ target.date }}</td>
        <td>{{ target.publisher }}</td>
        <td>{{ target.type }}</td>
    </tr>
    {% endif %}
{% endmacro %}

{% macro tabButton(id, label, icon_class) %}
    {% set tab_attr_id = id ~ '-tab' %}
    {% set active_tab = app.request.cookies.get('activeDocumentTab', 'renderPreview-tab') %}
    {% set is_active = active_tab == tab_attr_id %}
    <li class="nav-item" role="presentation">
        <button class="nav-link {{ _self.active_tab(id) }}"
                id="{{ tab_attr_id }}"
                data-bs-toggle="tab"
                data-bs-target="#{{ id }}"
                type="button"
                role="tab"
                aria-controls="{{ id }}"
                aria-selected="{{ is_active ? 'true' : 'false' }}"><i class="{{ icon_class}} me-2"></i>{{ label }}</button>
    </li>
{% endmacro %}

{% macro active_tab(id) %}
    {% set tab_attr_id = id ~ '-tab' %}
    {% set active_tab = app.request.cookies.get('activeDocumentTab', 'renderPreview-tab') %}
    {{ active_tab == tab_attr_id ? 'active' : '' }}
{% endmacro %}

{% macro username(user) %}
    {% if user.firstName is defined or user.lastName is defined %}
    {{ user.firstName }} {{ user.lastName }}
    {% else %}
    {{ user.email }}
    {% endif %}
{% endmacro %}

{% macro tag_select(tags, select_id, options) %}
    <select id="{{ select_id }}" class="form-select" name="tag">
        {% if options != null and options.with_empty == true %}
            <option value=""></option>
        {% endif %}
        {% for tag in tags %}
            <option value="{{ tag.id }}" {{ options != null and options.params.get('tag') == tag.id ? 'selected' : '' }}>
                {% for i in range(0, tag.lvl*2) %}{{ "&nbsp;" }}{% endfor %}
                {{ tag.name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro author_select(authors, selectId, options) %}
    <select id="" class="form-select" name="author">
        {% if options != null and options.with_empty == true %}
        <option value=""></option>
        {% endif %}
        {% for author in authors %}
            <option value="{{ author.id }}" {{ options != null and options.params.get('author') == author.id ? 'selected' : '' }}>
                {{ _self.username(author) }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}