{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title(document.title) }}{% endblock %}

{% block meta %}
{% if document.id %}
<meta property="og:type" content= "website" />
<meta property="og:url" content="{{ url('user_document', {id: document.id}) }}"/>
<meta property="og:site_name" content="MyDoc Intelligence" />
<meta property="og:title" content="{{ document.title }}" />
<meta property="og:description" content="{{ document.description }}" />
{% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="my-2">
        <div class="row">
            <div class="col-6">
                <a href="{{ path('user_view_project', {id: document.project.id}) }}"
                   class="text-decoration-none">
                    <i class="bi-chevron-left"></i>
                    {{ document.project.name }}
                </a>
            </div>
            <div class="col-6 text-end fs-4">
                {% apply spaceless %}
                {% if prev %}<a href="{{ path('user_document', {id: prev.id}) }}" title="Document précédent">{% endif %}
                    <i class="bi-arrow-left-circle-fill {{ not prev ? 'text-light' : '' }}"></i>
                {% if prev %}</a>{% endif %}
                {% endapply %}

                {% apply spaceless %}
                {% if next %}<a href="{{ path('user_document', {id: next.id}) }}" title="Document suivant">{% endif %}
                <i class="bi-arrow-right-circle-fill {{ not next ? 'text-light' : '' }}"></i>
                {% if next %}</a>{% endif %}
                {% endapply %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-9">
            {{ macro.document_header(document, projectRole) }}

            {# TABS #}
            <ul class="nav nav-tabs" id="documentRenderMode" role="tablist">
                {{ macro.tabButton('renderPreview', 'Prévisualiser', 'bi-eye') }}
                {% if canEdit %}
                {{ macro.tabButton('renderEdit', 'Éditer et annoter', 'bi-pen') }}
                {% endif %}
                {{ macro.tabButton('renderAnnotations', 'Annotations', 'bi-tag') }}
            </ul>

            <div class="tab-content" id="myTabContent">
                {#  PREVIEW #}
                <div class="tab-pane fade show {{ macro.active_tab('renderPreview') }}"
                     id="renderPreview"
                     role="tabpanel"
                     aria-labelledby="renderPreview-tab">
                    <div id="markdownPreview" class="selectable p-3">
                        {{ document.content(true)|raw }}
                    </div>

                    {# LINKS #}
                    {% if links is defined %}
                        <div class="mt-5 mb-3">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="fw-bold">Liens internes</h5>
                                    <ul class="list-unstyled">
                                        {% for link in links['internal'] %}
                                            <li class="text-truncate">
                                                <a href="{{ path('user_document', {id: link.id}) }}">{{ link.title }}</a>
                                            </li>
                                        {% else %}
                                            <li class="text-muted">Aucun lien</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h5 class="fw-bold">Liens externes</h5>
                                    <ul class="list-unstyled">
                                        {% for link in links['external'] %}
                                            <li class="text-truncate">
                                                <a href="{{ link }}" target="_blank" class="og-preview">{{ link }}</a>
                                            </li>
                                        {% else %}
                                            <li class="text-muted">Aucun lien</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if canEdit %}
                {# EDIT #}
                <div class="tab-pane fade show {{ macro.active_tab('renderEdit') }}" id="renderEdit" role="tabpanel" aria-labelledby="renderEdit-tab">
                    {{ form_row(form.content, {label: false, attr: {class: 'border-top-0 shadow-none selectable'}}) }}
                    <div class="text-end">
                        <button id="init_meta_btn"
                                type="button"
                                class="btn btn-primary"
                                data-id="{{ document.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmInitMetaModal"
                                role="button">
                            <i class="bi-gear"></i>
                            Initialiser méta-données
                        </button>

                        <button id="annotate_btn"
                                type="button"
                                class="btn btn-primary"
                                data-id="{{ document.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#selectionToolsModal"
                                role="button"
                                disabled="disabled"
                                aria-disabled="true">
                            <i class="bi-pen"></i>
                            Annoter la sélection
                        </button>

                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi-save me-2"></i>Enregistrer
                            </button>
                            <button type="button"
                                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="visually-hidden">Options</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a href="{{ path('download_document', {id: document.id}) }}" class="dropdown-item">
                                        <i class="bi-download me-2"></i>Télécharger au format MD
                                    </a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="dropdown-item text-danger"
                                       data-bs-toggle="modal"
                                       data-bs-target="#confirmDeleteModal">
                                        <i class="bi-trash me-2"></i>
                                        Supprimer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                {% endif %}

                {# ANNOTATIONS #}
                <div class="tab-pane fade show {{ macro.active_tab('renderAnnotations') }}" id="renderAnnotations" role="tabpanel" aria-labelledby="renderAnnotations-tab">
                    {% include'annotation/index.html.twig' with {
                        project: document.project,
                        document: document,
                        annotationsByTag: annotationsByTag,
                        authors: annotationAuthors,
                    } only %}
                </div>
            </div>
        </div>

        {# PROPERTIES #}
        {% include 'document/_partials/properties.html.twig' with {
            document: document,
            lexicon: lexicon,
            tagTree: tagTree,
            canEdit: canEdit
        } only %}
    </div>

    {% if canEdit %}
        {% include 'document/_modals/init-meta.html.twig' with {} only %}

        {% include 'document/_modals/selection-tools.html.twig' with {
            document: document,
            documents: documents,
            search: search
        } only %}

        {% include 'document/_modals/delete-document.html.twig' with {
            project: document.project,
            document: document
        } only %}

        {% include 'project/_modals/new-tag.html.twig' with {
            project: document.project
        } only %}

        {% include 'project/_modals/edit-tag.html.twig' with {
            project: document.project
        } only %}

        {% include 'project/_modals/delete-tag.html.twig' with {
            project: document.project
        } only %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
    {{ encore_entry_script_tags('annotation') }}
{% endblock %}