{% import 'macros.html.twig' as macro %}
{% set prevIndex = null %}

{% for index, tagAnnotations in annotationsByTag %}
    <div class="py-2 mb-3">
        {% if index != prevIndex %}
            <div>
                {% set prevIndex = index %}
                {% set firstTag = (tagAnnotations|first).tag %}
                {% for ancestor in firstTag.ancestors %}
                    <span class="h5"><span class="badge bg-info">{{ ancestor.name }}</span></span>
                {% endfor %}
                <span class="h5"><span class="badge bg-info">{{ firstTag.name }}</span></span>
            </div>
        {% endif %}

        {% for annotation in tagAnnotations %}
            <div class="mb-3" id="annotation_{{ annotation.id }}">
                <div class="text-muted text-end">
                    <small>
                        {{ macro.username(annotation.createdBy) }}
                        <span class="text-light">dans</span>
                        <i>{{ annotation.document.title }}</i>
                        <a href="{{ path('user_document', {id: annotation.document.id}) }}"
                           class="ms-1"
                           target="_blank"><i class="bi-box-arrow-up-right"></i></a>

                        {% if app.user == annotation.createdBy or app.user.owner(annotation.document.project) %}
                        <a href="{{ path('delete_annotation', {id: annotation.id}) }}"
                           data-block-id="annotation_{{ annotation.id }}"
                           class="delete-annotation text-danger ms-2"
                           data-bs-toggle="modal"
                           data-bs-target="#confirmDeleteAnnotationModal"><i class="bi-trash"></i></a>
                        {% endif %}
                    </small>
                </div>
                <div class="p-2 border border-light rounded">
                    <div class="ps-2 citation {{ annotation.comment ? 'mb-3' : '' }}">{{ annotation.content|nl2br }}</div>
                    <p class="m-0">{{ annotation.comment|nl2br }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal fade"
         id="confirmDeleteAnnotationModal"
         tabindex="-1"
         aria-labelledby="confirmDeleteAnnotationModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteAnnotationModalLabel">Supprimer une annotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous supprimer l'annotation ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteAnnotationButton">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p class="text-muted text-center my-4">Aucune annotation</p>
{% endfor %}