{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title("Mes projets") }}{% endblock %}

{% block body %}
    {% set sections = {
        'Mes projets': {projects: projects, isOwner: true},
        'Collaborations': {projects: editableProjects, isOwner: false},
        'Favoris': {projects: readableProjects, isOwner: false},
    } %}

    {% for label, collection in sections %}
        <div class="mt-4 mb-5">
            <div class="d-flex mb-3">
                <h2 class="mb-3">{{ label }}</h2>
                {% if collection.isOwner %}
                <div class="ms-auto">
                    <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#projectOffCanvas" aria-controls="projectOffCanvas">
                        <i class="bi-folder-plus me-2"></i>Nouveau projet
                    </button>
                </div>
                {% endif %}
            </div>

            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for project in collection.projects %}
                    <div class="col">
                    {{ macro.project_card(project) }}
                    </div>
                {% endfor %}
            </div>

            {% if collection.projects|length == 0 %}
                <div class="my-4">
                {% if collection.isOwner %}
                    <p class="text-muted">Vous n'avez pas encore créé de projets.</p>
                {% else %}
                    <p class="text-muted">Vous n'avez pas encore été invité à rejoindre un projet.</p>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {# OFFCANVAS #}
    <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-backdrop="false" id="projectOffCanvas" aria-labelledby="projectOffCanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-bold" id="projectOffCanvasLabel">Créer un projet</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
        </div>
        <div class="offcanvas-body">
            {{ form_start(form, {action: path('user_new_project')}) }}
            {{ form_row(form.project.name) }}
            {{ form_row(form.project.description) }}
            {{ form_row(form.project.language) }}

            <div class="mb-3">
                {{ form_label(form.import.files) }}

                <p class="text-muted">Vous pouvez importer plusieurs fichiers au format TXT ou MD, les archives au format ZIP
                    seront décompressées et leur contenu (TXT ou MD) importé.</p>

                {{ form_widget(form.import.files) }}
                {{ form_help(form.import.files) }}
            </div>

            <button type="submit" class="btn btn-primary"><i class="bi-save me-2"></i>Enregistrer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}