{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}{{ macro.title("Projet " ~ project.name) }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-9">
            {# TITLE #}
            <div class="d-flex align-items-center mb-3">
                <h1 class="m-0">{{ project.name }}</h1>
                <div class="ms-auto">
                    {% if app.user.isOwner(project) %}
                    <a href="#"
                       class="btn"
                       role="button"
                       data-bs-toggle="modal"
                       data-bs-target="#shareProjectModal">
                        <i class="h5 bi-share"></i>
                    </a>
                    {% endif %}

                    {% if app.user.canEdit(project) %}
                    <a href="{{ path('download', {id: project.id}) }}"
                       class="btn"
                       role="button">
                        <i class="h5 bi-download"></i>
                    </a>
                    {% endif %}

                    {% if app.user.isOwner(project) %}
                    <a href="#"
                       class="btn"
                       role="button"
                       data-bs-toggle="modal"
                       data-bs-target="#editProjectModal">
                        <i class="h5 bi-gear"></i>
                    </a>
                    {% endif %}
                    <span class="badge bg-info rounded-pill">{{ projectRole }}</span>
                </div>
            </div>

            <p class="lead">{{ project.description }}</p>

            {# PAGINATION #}
            <div class="row g-2 align-items-center">
                <div class="col">
                    {{ knp_pagination_render(documents) }}
                </div>
                <div class="col-auto">
                    <div class="text-muted">{{ documents.getTotalItemCount }} documents</div>
                </div>
            </div>

            {# TOOLBAR #}
            {% include 'project/_partials/toolbar.html.twig' with {
                project: project,
                search: search,
                canEdit: canEdit
            } only %}

            {# DOCUMENTS #}
            {% include 'project/_partials/documents.html.twig' with {
                documents: documents
            } only %}
        </div>

        <div class="col-12 col-md-3 mt-3 mt-md-0">
            {% include 'project/_partials/properties.html.twig' with {
                project: project,
                canEdit: canEdit,
                tagTree: tagTree
            } only %}
        </div>
    </div>

    {# OWNER MODALS #}
    {% if app.user.isOwner(project) %}
        {% include 'project/_modals/edit-project.html.twig' with {project: project, editForm: editForm} only %}
        {% include 'project/_modals/share-project.html.twig' with {project: project} only %}
    {% endif %}

    {# EDITOR MODALS #}
    {% if app.user.canEdit(project) %}
        {% include 'project/_modals/export-documents.html.twig' with {project: project} only %}
        {% include 'project/_modals/import-documents.html.twig' with {importForm: importForm} only %}
        {% include 'project/_modals/delete-documents.html.twig' with {project: project, documents: documents} only %}
        {% include 'project/_modals/new-tag.html.twig' with {project: project} only %}
        {% include 'project/_modals/edit-tag.html.twig' with {project: project} only %}
        {% include 'project/_modals/delete-tag.html.twig' with {project: project} only %}
    {% endif %}

    {% include 'project/_modals/search-help.html.twig' with {} only %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('project') }}
{% endblock %}